/* 기본적인 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* 제목 스타일 */
h1 {
    margin: 0;
    padding: 0;
    color: #333;
}


.header-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #333;
}

.description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #555;
}

/* 컨테이너 스타일 */
.stock-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* 종목 항목 스타일 */
.stock-item {
    width: 45%; /* 한 줄에 두 개씩 배치 */
    margin-bottom: 20px;
    text-align: center;
}

/* 링크 스타일 */
.stock-link {
    display: block;
    padding: 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.stock-link:hover {
    background-color: #0056b3;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .stock-item {
        width: 100%; /* 작은 화면에서는 한 줄에 한 개씩 배치 */
    }
}

/* No recommendations 시 메시지 스타일 */
p {
    text-align: center;
    font-size: 1.1em;
    color: #777;
}
