body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    display: block; /* Flexbox 제거 */
    min-height: 100vh;

}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* 가로 중앙 정렬 */
}

p {
    color: #555;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}


