{% extends "base/base.html" %}
{% load static %}

{% block title %}회원가입{% endblock %}

{% block extra_css %}
<!-- custom register.css 파일을 로드 -->
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="register-container">
    <div class="register-card">
        <h3 class="register-title">회원가입</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">회원가입</button>
        </form>
    </div>
</div>
{% endblock %}
