{% extends "base/base.html" %}
{% load static %}

{% block title %}My Interest Stocks{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/view_stocks.css' %}">
{% endblock %}

{% block content %}
<div class="stocks-container">
    <h1 class="stocks-title">My Interest Stocks</h1>
    <p class="stocks-description">사놓은 종목이 있거나 관심있는 종목이 있는 경우 추가해서 해당 종목을 관리하세요!</p>

    {% if stock_data %}
        <div class="table-container">
            <table class="stocks-table">
                <thead>
                    <tr>
                        <th>Stock Name</th>
                        <th>5% 상승 예측</th>
                        <th>5% 하락 예측</th>
                        <th>뉴스·공시</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in stock_data %}
                        <tr>
                            <td>{{ item.stock.stock_name }}</td>
                            <td>
                                {% if item.predict_5_data %}
                                    {% if item.predict_5_data.prediction == 1 %}
                                        <span class="text-up">5% 이상 상승 예상</span>
                                    {% else %}
                                        <span>5% 이상 상승하지 않음</span>
                                    {% endif %}
                                {% else %}
                                    <span>No data</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.minus_predict_data %}
                                    {% if item.minus_predict_data.prediction == 1 %}
                                        <span class="text-down">5% 이상 하락 예상</span>
                                    {% else %}
                                        <span>5% 이상 하락하지 않음</span>
                                    {% endif %}
                                {% else %}
                                    <span>No data</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="https://finance.naver.com/item/news.naver?code={{ item.stock.stock_code }}" target="_blank" class="btn-link">
                                    바로가기
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="no-stocks">No stocks in your interest list.</p>
    {% endif %}
</div>
{% endblock %}
