{% extends "base/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the Stock Predictor</h1>
<p>Click the button below to predict stock prices, get stock recommendations, or view model performance.</p>

<!-- 버튼 컨테이너 -->
<div class="button-container">
    <!-- 종목 예측 버튼 -->
    <a href="{% url 'predict_stock' %}" class="predict-button">종목 예측</a>
    <!-- 종목 추천 버튼 -->
    <a href="{% url 'recommend_stocks' %}" class="recommend-button">종목 추천</a>
    <!-- 모델 정보 버튼 -->
    <a href="{% url 'model_performance' %}" class="model-info-button">모델 정보</a>
</div>
{% endblock %}
